.hide {
    display: none;
}

.car,
.enemy {
    position: absolute;
    bottom: 100px;
    margin: auto;
    width: 50px;
    height: 100px;
    background-color: white;
    line-height: 38px;
    font-size: 1.7em;
    text-align: center;
    vertical-align: middle;
    background-image: url(image/car2.png);
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.line {
    position: absolute;
    height: 100px;
    width: 10px;
    margin-left: 195px;
    background-color: white;
}

.score {
    background-color: black;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-family: fantasy;
}

.gameArea {
    background-color: black ;
    width: 400px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    margin-left: 35%;
}

.startScreen {
    position: absolute;
    background-color: red;
    top: 100px;
    color: white;
    z-index: 1;
    text-align: center;
    border: 1px solid red;
    padding: 15px;
    margin-left: 25% ;
    margin-right: 25% ;
    width: 50%;
    font-family: sans-serif;
    cursor: pointer;
}

